{% extends "base.html" %}
<!-- This line extends the "base.html" template, inheriting its structure and styles -->

{% block content %}
<!-- This block defines the content section for this page -->
<div class="body-wrapper">
    <div class="container">
        <!-- A table displaying emergency information -->
        <table class="w-100 table mt-4 ms-2 me-2 shadow-lg table-hover">
            <thead>
                <tr>
                    <th scope="col">Emergency</th>
                    <th scope="col">Location</th>
                    <th scope="col">Index</th>
                </tr>
            </thead>
            <tbody>

                <!-- Iterate over emergency data and dynamically create rows -->
                {% for emergency in page_obj %}
                <tr class="{% if emergency.3 == 'Fire' %}table-warning{% elif emergency.3 == 'Medical' %}table-danger{% elif emergency.3 == 'Crime' %}table-primary{% endif %}">
                    <td scope="row">{{ emergency.3 }}</td>
                    <td scope="row">{{ emergency.2 }}</td>
                    <td scope="row">{{ emergency.4 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination container -->
    <div class="container pagination-container">
        <small class="py-3">  Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}</small>

        <!-- Pagination links -->
        <ul class="pagination float-end mr-auto">
            {% if page_obj.has_previous %} {% if page_obj.number == 1 %}
            <li class="page-item active"> {% endif %}
                <a class="page-link" href="?page=1">&laquo; 1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- A section with cards displaying emergency information -->
    <div class="row card-wrapper w-100 h-100 bg-white mt-4 me-2 ms-2 ">
        <div class="w-50 card-inner-wrapper">
            <!-- Card displaying total emergency counts -->
            <div class="h-25 mt-5 card shadow-lg total-emergencies-card">
                <div class="card-body">
                    <p>Fire: <strong>{{total_fire}}</strong></p>
                    <p>Medical: <strong>{{total_medical}}</strong></p>
                    <p>Crime : <strong>{{total_crime}}</strong></p>
                </div>
            </div>

            <!-- Card displaying additional emergency information -->
            <div class="mt-5 h-50 emergency-info-card card shadow-lg">
                <div class="card-body">
                    <p>Location with most emergencies: <strong>{{mode_locations}}</strong></p>
                    <p>Most common emergency: <strong>{{mode_emergency}}</strong></p>
                    <p>Average time to respond: <strong>20min</strong></p>
                </div>
            </div>
        </div>

        <!-- A chart (Doughnut chart) displayed in the remaining 50% of the section -->
        <div class="w-50 emergency-chart-doughnut">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
<!-- End of the 'content' block for this page -->