<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-wrapper" style="display: flex;flex-direction:column;">
        <div class="form">
          {{form.as_p}}
        </div>
          <div>
            <Button type="submit">{{value}}</Button>
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
</div>
    </form>